DATABASE_URL='postgresql://neondb_owner:npg_vwSFLQ0ymXZ7@ep-flat-darkness-aqgo9mx9-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dvp2najkr"
CLOUDINARY_CLOUD_NAME="dvp2najkr"
CLOUDINARY_API_KEY="673253684654378"
CLOUDINARY_API_SECRET="UIXwq-Q6lq3TeqfN2FNWhqHpauE"
